body{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%; 
    background-color: beige;
}
header{
    display: flex;
    background-color: rgb(69, 68, 68);
    color: white;
    height: 10%;
    justify-content: space-between;
    /* justify-content: center; */
    /* text-align: center; */
    
}
/* .icon {
    display: flex;
    justify-content: flex-start;
} */
.header {
    font-size: 30px;
   
    /* background-color: rgb(69, 68, 68); */
    /* font-size: 30px; */
    color: rgb(240, 7, 7);
    /* text-align: center; */
    /* justify-content: center; */
    /* height: 10%; */
}

.items_left {
    /* justify-content: start; */
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
}
.items_center 
{
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* background-position: center center; */
}
.items_right {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}
header .items_left .material-symbols-outlined {
    /* display: flex; */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  /* justify-content: start; */
  font-size: 32px;
  margin-left: 0px;
  color: aqua;
}
header .items_right .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 32px;
  margin-right: 0;
}


.container {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    /* top: 50%; */
    /* width: 100%; */
    margin: 10px 50px 10px 50px;
    background-color: beige;
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    
}
.categoryBox {
    /* background-color: rgb(185, 185, 187); */
    border: 2px solid black;
   text-align: center;
    width: 30%;
    /* height: 160px; */
    /* position: absolute; */
    /* top: 50%;
    transform: translate(0, -50%); */
    /* border: 5px solid #FFFF00; */
    /* padding: 10px; */
}
.categoryBox p {
    align-items: center; 
    /* justify-content: center; 
    flex-direction: column; */
    padding: 20px 0px 20px 0px;
}
#cBwomen {
    background-image: url(../img/211867922001_-_polo_ralph_lauren_women_s_ball_girl_striped_polo_shirt_-_navy_-_front_1.webp);
    color: black;
}
  .img {
    display: flex;
    /* width: 80%; */
    height: 100px;
    background-image: url(../img/41477_2019_374_Figa_HTML.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    justify-content: center;
    margin:0px 0px 20px 0px

    
  }
  article {
    display: flex;
    gap: 5px;
    /* width: 90%; */
}
section{

    text-align: center;
     /* justify-content: center; */
     justify-content: space-around;
    /* background-color: rgb(177, 177, 177); */

 }

 footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(69, 68, 68);
    color: white;
    margin-top: auto;
  }
  
  .footer__headline {
    font-weight: bold;
    font-family: 'Helvetica';
  }
  
  .footer__list {
   color: white;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  @media only screen and (min-width: 768px) {
    body {
      background-color: lightblue;
    }
  }